body{
	margin: 0;
	padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


.slideshow-container{
  position: relative;
}

#myMenu{
	color: white;
    font-size: 39px!important;
    top: 25px;
    right: 34px;
    position: absolute;
}

#myDropdown{
	z-index: 1;
	opacity: 0.8;
	width: 100%;
    height: 100%;
    background-color: #fff;
	position: absolute;
	display: none;
}

#myDropdown a {
	text-decoration: none;
    color: #000000;
    font-size: 50px;
    padding: 20px;
    display: block;
}

#myClose{
	color: #FF0000;
    font-size: 62px!important;
    top: 13px;
    right: 24px;
    position: absolute!important;
    display: none;
}

.Logo{
	text-align: left;
    float: left;
    width: 24%;
    margin: 30px;
}

.Menu{
	width: 45%;
    margin-left: -51px;
    margin-top: 20%;
    display: inline-block;
}

.MySlides {
	display: none;
}

.absolute{
	position: absolute;
}

.ball1{
	width: 3%;
    top: 4%;
    left: 80%;
}

.ball2{
	width: 3%;
    top: 45%;
    left: 81%;
}

.ball3{
	width: 1.7%;
    top: 28%;
    left: 13%;
}

.ball4{
	width: 1.7%;
    top: 32%;
    left: 54%;
}

.ball5{
	width: 1.7%;
    top: 62%;
    left: 2%;
}

.ball6{
	width: 9%;
    top: 11%;
    left: 68%;
}

.ball7{
	width: 9%;
    top: 30%;
    left: 22%;
}

.ball8{
    width: 3%;
    top: 5%;
    left: 44%;
}

.ball9{
    width: 3%;
    top: 67%;
    left: 54%;
}

.ball10{
    width: 2%;
    top: 52%;
    left: 70%;
}

.halfcircle1,.halfcircle2{
	width: 6%;
    position: absolute;
    top: 50%;
    margin-top: -5%;
    display: none;
}

.halfcircle2{
	right:0;
}

.date{
	position: absolute;
    right: 4%;
    top: 84%;
    text-align: right;
    color: #FFFFFF;
    font-size: 38px;
   
}

.date p{
 margin: 0;
}

.MySlidesimg{
    position: absolute;
    width: 24%;
    margin: 30px;
}

.prev, .next {
    font-size: 40px!important;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 4%;
}

.next {
    right: 1%;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 1%;
}

#collectorcars{
	text-align: center;
	padding-top:60px;
	width: 80%;
	height:auto;
	margin: auto;
}

.collectorcars_  {
	margin-top:60px;
	width: 100%;
	height:auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.collectorcars_ div {
	width: 32%;
	padding-bottom: 50px;
	padding-top:50px;
	font-size: 45px;
	background-color: #EBE8DE;
}

.collectorcars_ div p{
	background-color: #EDCCE8;
	width: fit-content;
	margin: auto;
}

.collectorcars_ div img {
	height: 120px;
	margin-bottom: 50px;
}

#road{
	width: 100%;
	height: 344px;
	margin-top: 60px;
	position: relative;
}

.mount{
	top: 15%;
    width: 100%;
    position: absolute;
}

.trees{
	top: 1%;
	width: 67%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.line{
	width: 100%;
    margin-top: 17%;
    position: absolute;
}

.bus{
	top: 15%;
    width: 20%;
    position: absolute;
    animation: mymove 10s infinite;
}

#Contact{
	height: 740px;
	width: 100%;
	position: relative;
}

.Contact_{
	width: 90%;
    margin: auto;
}

#map{
    height: 700px;
	width: 90%;
	position: absolute;
}

.contactform{
	top: 38%;
	position: absolute;
    width: 75%;
    height: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.contactinf{
	width: 40%;
    background-color: #EBE8DE;
    height: inherit;
    float: left;
}

.contactinf h1{
	font-size: 35px;
	background-color: #EDCCE8;
	width: fit-content;
	margin-left:40px;
	margin-bottom: -15px;
}

.click {
	margin: auto;
    width: 50%;
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
}

.click p{
	margin: auto;
    text-align: center;
    background-color: #EDCCE8;
    width: fit-content;
    margin-bottom: 4px;
}
 .click a{
    text-decoration: none;
    color: #000000;
 }
.click .myface{
	padding-left: 15px;
    padding-right: 15px;
}

.click2{
	display: none;
}

.click2 a{
    text-decoration: none;
    color: #000000;
    margin-top: 25px;
	font-size: 25px;
}

.click2 i{
	margin-left: 10px;
	margin-top: 25px;
	float: right;
}

.click i,.click2 i{
	border: 1px solid black;
    border-radius: 128px;
    font-size: 13px;
    padding: 10px;
}

.getintouch{
	background-color: #fff;
	display: inline-block;
    height:inherit;
    width: 60%;
}

.getintouch h1{
	background-color: #EDCCE8;
	width: fit-content;
	margin-left:30px;
	font-size: 40px;
}

.form{
	width: 100%;
}
.thank{
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    display: none;
    font-size: 11px;
    color: #39B54A;
}
.form button{
    padding: 7px;
	width: 65px;
    float: right;
    margin-right: 23px;
    background-color: #000;
    color: white;
    margin-top: 40px;
}

.form button p{
	margin: 6px;
	letter-spacing: 2px;
	background-color: #EDCCE8;
	width: fit-content;
}

.form_1{
	float: left;
	width: 40%;
	margin-left: 30px;
}

.form_1 input{
    font-family: 'Roboto Condensed', sans-serif;
	padding-left: 14px;
	border: none;
	margin-bottom: 25px;
	background-color: #F2F2F2;
	height: 30px;
    width: 167px;
}

.form_1 textarea{
    font-family: 'Roboto Condensed', sans-serif;
	padding-left: 14px;
	padding-top: 10px;
	border: none;
	height: 90px;
	background-color: #F2F2F2;
	resize: none;
	width: 167px;
}

.form_2{
	display: inline-block;
    width: 50%;
}
.radio{
    margin-left: 15px;
}

.form_3{
	margin-top: 55px;
	width: 51%;
    height: 185px;
    display: inline-block;
    float: right;
}
.form_3 input{
	margin: 10px;

}

.form_3 p{
	background-color: #EDCCE8;
	width: fit-content;
}

#SentButton:hover{
    background-color: #EDCCE8;
    color: #000;
}

#myfooter{
	margin: auto;
    width: 75%;
    height: 100px;
}

#myfooter span{
    font-family: 'Roboto', sans-serif;
	background-color: #EDCCE8;
	width: fit-content;
}

.error{
    font-family: 'Roboto', sans-serif;
    display: none;
	margin: 0;
	color: #FF0000;
    font-size: 13px;
}

.show{
	display: block!important;
}

.hide{
	display: none!important;
}

@keyframes mymove {
  from {right: 0%;}
  to {right: 100%;}
}
@keyframes halfcircleAnimationInit {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes halfcircleAnimationOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
